.wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    background-color: #f2f2f2;
    box-shadow: 3px 3px 3px #ccc;
    border-radius: 5px;
    padding: 10px;
}

form {
    margin: 0 auto;
    padding: 10px;
    background-color: #ccc;
}
label {
    margin-right: 10px;
}
br {
    margin-bottom: 10px;
}
body {
    font-family: "Roboto", sans-serif;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #45a049;
}
